.footer {
  background-color: var(--palette-header-footer-footer);
  height: 60px;
  padding: 19px 20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credits {
  color: var(--palette-header-footer-text_default);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.credits:hover {
  text-decoration: underline;
  cursor: pointer;
}
